<%- model_class = UserBadges -%>
<div class="page-header">
  <h1><%=t '.title', :default => UserBadges %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:badge_image) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_badges.each do |user_badges| %>
      <tr>
        <td><%= user_badges.id %></td>
        <td><%= user_badges.name %></td>
        <td><%= user_badges.description %></td>
        <td><%= user_badges.badge_image %></td>
        <td><%=l user_badges.created_at, format: :long %></td>
        <td>
          <%= link_to user_badges_path(user_badges), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to user_badges_path(user_badges), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_badges_path,
            :class => 'btn btn-primary' %>
