<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @style.type %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @style.artist %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
