<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @gallery.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Complete date:</strong>
  <%= @gallery.complete_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<p>
  <strong>Time taken:</strong>
  <%= @gallery.time_taken %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gallery.image %>
</p>

<p>
  <strong>Project:</strong>
  <%= @gallery.project %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
