<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @studio.address %>
</p>

<p>
  <strong>Town:</strong>
  <%= @studio.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @studio.county %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @studio.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @studio.country %>
</p>

<p>
  <strong>Website:</strong>
  <%= @studio.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @studio.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @studio.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @studio.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @studio.instagram %>
</p>

<p>
  <strong>Googleplus:</strong>
  <%= @studio.googleplus %>
</p>

<p>
  <strong>Googlebusiness:</strong>
  <%= @studio.googlebusiness %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
